<ion-view title="CheapJing" hide-nav-bar="false" hide-back-button="true">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear icon-fa-cog-16" menu-toggle="right"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header animated bounceInDown">
        <div class="spacer" style="height: 20px;"></div>        
        <div class="content">
            <div class="app-icon"></div>
            <h1 style="text-align: center">CheapJing</h1>
        </div>        
    </ion-content>
</ion-view>
