<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content drag-content="false">
        <ion-nav-bar align-title="center" class="bar-balanced" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}">
            <ion-nav-back-button class="no-text"></ion-nav-back-button>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear icon-fa-cog-16" menu-toggle="right"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="right">
        <ion-header-bar class="stable-bg">
            <h1 class="title">Options</h1>
        </ion-header-bar>
        <ion-content class="stable-bg">
            <ion-list>
                <ion-item nav-clear menu-close ng-click="$root.logout()"><i class="fa fa-fw icon-fa-sign-out"></i>&nbsp;&nbsp;Logout</ion-item>
                <ion-item><i class="fa fa-fw icon-fa-clock-o"></i>&nbsp;&nbsp;Last Login Datetime : <br>&nbsp;&nbsp;{{$root.user.lastLogin}}
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>