<ion-view view-title="Rules">
  <ion-content>
    <div class="list">
        <a class="item item-thumbnail-left" href="#">
            <img src="img/fish.jpg">
            <div class="row row-center">
                <div class="col col-center col-75"><p><b>Fish</b><br>FROZEN SNUBNOSE POMPANO(FISH) 1PC</p></div>
                <div class="col col-center col-25"><h2 style="color:red"><b>$19.90</b></h2></div>
            </div>
            <div class="row row-center">
                <div class="col col-center"><p>Apr 17, 2016 07:09</p></div>
            </div>
        </a>
    </div>
    <div class="list">
        <a class="item item-thumbnail-left" href="#">
            <img src="img/salmon.jpg">
            <div class="row row-center">
                <div class="col col-center col-75"><p><b>Fish</b><br>FROZEN NORWEGIAN ATLANIC SALMON STEAK 2PCS</p></div>
                <div class="col col-center col-25"><h2 style="color:red"><b>$33.80</b></h2></div>
            </div>
            <div class="row row-center">
                <div class="col col-center"><p>Apr 17, 2016 07:01</p></div>
            </div>
        </a>
    </div>
    <div class="list">
        <a class="item item-thumbnail-left" href="#">
            <img src="img/milk.jpg">
            <div class="row row-center">
                <div class="col col-center col-75"><p><b>Hidaka</b><br>HOKKAIDO FURANO MILK 3.7 1L</p></div>
                <div class="col col-center col-25"><h2 style="color:red"><b>$33.40</b></h2></div>
            </div>
            <div class="row row-center">
                <div class="col col-center"><p>Apr 17, 2016 06:58</p></div>
            </div>
        </a>
    </div>
    <div class="list">
        <a class="item item-thumbnail-left" href="#">
            <img src="img/fish.jpg">
            <div class="row row-center">
                <div class="col col-center col-75"><p><b>Fish</b><br>FROZEN SNUBNOSE POMPANO(FISH) 1PC</p></div>
                <div class="col col-center col-25"><h2 style="color:red"><b>$19.90</b></h2></div>
            </div>
            <div class="row row-center">
                <div class="col col-center"><p>Apr 17, 2016 06:55</p></div>
            </div>
        </a>
    </div>
    <div class="list">
        <a class="item item-thumbnail-left" href="#">
            <img src="img/salmon.jpg">
            <div class="row row-center">
                <div class="col col-center col-75"><p><b>Fish</b><br>FROZEN NORWEGIAN ATLANIC SALMON STEAK 2PCS</p></div>
                <div class="col col-center col-25"><h2 style="color:red"><b>$33.80</b></h2></div>
            </div>
            <div class="row row-center">
                <div class="col col-center"><p>Apr 17, 2016 06:48</p></div>
            </div>
        </a>
    </div>
    <div class="list">
        <a class="item item-thumbnail-left" href="#">
            <img src="img/milk.jpg">
            <div class="row row-center">
                <div class="col col-center col-75"><p><b>Hidaka</b><br>HOKKAIDO FURANO MILK 3.7 1L</p></div>
                <div class="col col-center col-25"><h2 style="color:red"><b>$33.40</b></h2></div>
            </div>
            <div class="row row-center">
                <div class="col col-center"><p>Apr 17, 2016 06:45</p></div>
            </div>
        </a>
    </div>
    </ion-content>
</ion-view>
