<ion-view view-title="White List Item" ng-init="" hide-nav-bar="false" can-swipe-back="false"> 
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear icon-fa-cog-16" menu-toggle="right"></button>
    </ion-nav-buttons>     
    <ion-content padding="true" class="has-header" overflow-scroll="true">
        <div class="spacer" style="height: 10px;"></div> 
        <div class="card">
            <div ng-if="card.isWhitelistDetails" ng-click="changeWhitelistDetails()" class="item item-divider">
                <div class="row row-center">
                    <div class="col col-10"></div>
                    <div class="col col-80"><h2 style="text-align: center;"><i class="icon icon-fa-info-circle"></i> <b>Whitelist Item Details</b></h2></div>
                    <div class="col col-10"><h2 style="text-align: right;"><i class="icon icon-fa-minus-square"></i></h2></div>
                </div>    
            </div>    
            <div ng-if="!card.isWhitelistDetails" ng-click="changeWhitelistDetails()" class="item item-divider">
                <div class="row row-center">
                    <div class="col col-10"></div>
                    <div class="col col-80"><h2 style="text-align: center;"><i class="icon icon-fa-info-circle"></i> <b>Whitelist Item Details</b></h2></div>
                    <div class="col col-10"><h2 style="text-align: right;"><i class="icon icon-fa-plus-square"></i></h2></div>   
                </div>
            </div>
            <div ng-if="card.isWhitelistDetails" class="item item-text-wrap">
                <h2>Item Details</h2>
            </div>
        </div>
    </ion-content>
</ion-view>
